.PlayerFace{
    box-sizing: border-box;
    position: absolute;
    width: 20rem;
    height: 4rem;
}
.HeadImgWrapper{
    background: white;
    float: left;
    box-sizing: border-box;
    display: inline-block;
    width: 4rem;
    height: 4rem;
}
.HeadImgWrapper .HeadImg{
    margin: 0.5rem;
    width: 3rem;
    height: 3rem;
}
.DetailWrapper{
    background: white;
    float: left;
    box-sizing: border-box;
    display: inline-block;
    width: 4rem;
    height: 4rem;
}
.DetailWrapper .NameWrapper{
    box-sizing: border-box;
    height: 2rem;
    line-height: 2rem;
}
.DetailWrapper .ScoreWrapper{
    box-sizing: border-box;
    height: 2rem;
    line-height: 2rem;
}
.CardWrapper{
    float: left;
    box-sizing: border-box;
    display: inline-block;
    width: 12rem;
    height: 4rem;
}
.CardWrapper .Card{
    margin-left: -1.2rem;
    height: 4rem;
}
.OtherPlayerFace .CardWrapper .Card{
    margin-left: -1.8rem;
}
.Card{
    display: inline-block;
    width: 3rem;
    height: 100%;
    background: #efefef;
    margin: 0;
    margin-left: 5px;
    border: 1px solid #efefef;
    border-radius: 0.1rem;
}
.Card img{
    height: 100%;
}