.CreateDialog{
    box-sizing: border-box;
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    height:100%;
    width:100%;
    background: rgba(0,0,0,0.9);
    height: 100%;
}
.GameMain{
    box-sizing: border-box;
    background-image: url(/images/create/background.png);
    background-size: 100% 100%;
    display: flex;
    width: 100%;
    padding: 0.3rem;
}
.GameAction{
    display: block;
    width: 100%;
}
.GameType{
    box-sizing: border-box;
    background-image: url(/images/create/typebg.png);
    background-size: 100% 100%;
    display: inline-block;
    width: 96px;/*114px;*/
    height: 100%;
    margin-right: .3rem;
}
.GameOption{
    display: inline-block;
    flex: 1;
    background-image: url(/images/create/optionbg.png);
    background-size: 100% 100%;
    box-sizing: border-box;
}
.GameTypeItem{
    height: 44px;
    line-height: 44px;
}
.GameTypeItem img{
    position: relative;
    height: 100%;
}
.GameTypeItemLun{
    background: url(/images/create/type/lun2.png) no-repeat;
    background-size: 100% 100%;
}
.GameTypeItemDing{
    background: url(/images/create/type/ding1.png) no-repeat;
    background-size: 100% 100%;
}
.GameTypeItemNnsz{
    background: url(/images/create/type/nnsz1.png) no-repeat;
    background-size: 100% 100%;
}
.GameTypeItemTbnn{
    background: url(/images/create/type/tbnn1.png) no-repeat;
    background-size: 100% 100%;
}
.GameOptionItem{
    height: 44px;
    line-height: 44px;
    text-align: left;
    margin-left: 3rem;
}
.GameOptionItem span{
    font-size: 1.2rem;
}
.Buttonbar{
    height: auto;
    line-height: auto;
}
.ButtonWrapper{
    margin: 1rem auto;
    height: 3rem;
    line-height: 3rem;
}
.ButtonWrapper img{
    height: 100%;
    line-height: 100%;
}
.CloseButton{
    position: absolute;
    top:0.5rem;
    right:0.5rem;
    height:3rem;
    width:3rem;
}
.CloseButton img{
    height:3rem;
    width:3rem;
}