*{font-size:0.8rem;}
.GameTable{
    box-sizing: border-box;
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    height:100%;
    width:100%;
    background: rgba(0,0,0,0.9);
    height: 100%;
}
.PlayTable{
    background: url(/images/bg_zhuomian.png) no-repeat;
    background-size: 100% 100%;
}
.PlayKit{
    position: absolute;
    bottom: 0;
    height: 2rem;
    width: 100%;
    line-height: 2rem;
    text-align: right;
    background: none;
    z-index: 9999;
    color:#fff;
}
.PlayersContainer{
    height: 80%;
    line-height: 80%;
}
.ImgContainer{
    display:inline-block;
    background:#efefef;
    border: 1px solid #efefef;
    border-radius: 0.3rem;
}
.OtherHeadImg{
    position: absolute;
    display:inline-block;
}
.Player1{
    position: absolute;
    left:1rem;
    bottom:6rem;
    background:none!important;
    border: none!important;
}
.Player2{
    position: absolute;
    left:3rem;
    bottom: 50%;
}
.Player3{
    position: absolute;
    left:35%;
    top:3rem;
}
.Player4{
    position: absolute;
    right:1rem;
    bottom: 50%;
}
.Player5{
    position: absolute;
    right: 0;
    bottom:6rem;
}
.UsContainer{
    box-sizing: border-box;
    padding: 0.5rem 2rem;
    text-align: center;
    height: 20%;
    line-height: 20%;
}
/*
.HeadImg{
    border: 1px solid #efefef;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
    width: auto;
    height: 4rem;
    text-align: center;
    background: #efefef;
    float: left;
}
.HeadImg .Img{
    display: inline-block;
    box-sizing: border-box;
    width: 4rem;
    background: none;
}
.HeadImg .Img img{
    margin: 0.5rem 0.5rem 0 0.5rem;
    height: 3rem;
    width: 3rem;
}
.HeadImg .Nickname{
    display: inline-block;
    box-sizing: border-box;
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    background: none;
    margin: 0.5rem;
}
.HeadImg .CardDiv{
    display: inline-block;
    box-sizing: border-box;
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    background: none;
    margin: 0.5rem;
}
.HeadImg .Ingot{
    box-sizing: border-box;
    height: 2rem;
    text-align: center;
    background: none;
}

.CardGroup{
    box-sizing: border-box;
    display: inline-block;
    width: auto;
    height: 4rem;
    background: none;
    float: left;
}
.Card{
    display: inline-block;
    width: 3rem;
    height: 100%;
    background: #efefef;
    margin: 0;
    margin-left: 5px;
    border: 1px solid #efefef;
    border-radius: 0.3rem;
}
.Card img{
    height: 100%;
}
.OtherCardGroup{
    box-sizing: border-box;
    display: inline-block;
    width: auto;
    height: 3rem;
    background: none;
    float: right;
    margin-left: 3rem;
}
.OtherCard{
    display: inline-block;
    width: 3rem;
    height: 3.8rem;
    background: #efefef;
    margin: 0;
    margin-left: -2rem;
    background: none;
}
.OtherCard img{
    height: 100%;
}
*/
.RuleButton{
    position: absolute;
    top: 50%;
    left: 1rem;
    z-index: 9999;
    display: inline-block;
    height: 2.6rem;
    width: 2.6rem;
    display: none;
}
.RuleButton img{
    height: 2.6rem;
    width: 2.6rem;
}
.SetButton{
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 9999;
    display: inline-block;
    height: 2.6rem;
    width: 2.6rem;
    display: none;
}
.SetButton img{
    height: 2.6rem;
    width: 2.6rem;
}
.MsgButton{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    z-index: 9999;
    display: inline-block;
    height: 2.6rem;
    width: 2.6rem;
    display: none;
}
.MsgButton img{
    height: 2.6rem;
    width: 2.6rem;
}

.PlayKit button{
    background: #ffffff;
}
